.dashboard {
  &-wrapper {
    padding-top: 70px;
  }

  &-toolbar {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &-detail {
    padding: 20px;
    color: $color-white;
    height: 300px;
    background: $brand-primary;
    position: relative;

    &-week-ago {
      position: absolute;
      top: 15px;
      color: #fff;
      right: 617px;

      &:hover {
        color: white;
      }
    }

    &-week-before {
      position: absolute;
      top: 15px;
      right: 81px;
      color: #fff;

      &:hover {
        color: white;
      }
    }

    &-charts-overlay {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 100;
    }

    &-created {
      position: absolute;
      left: 20px;
      top: 20px;
    }

    &-hash {
      position: absolute;
      left: 20px;
      bottom: 20px;
      font-size: 25px;
    }

    &-url {
      position: absolute;
      left: 20px;
      bottom: 70px;
      background: transparent;
      border: 0;
      width: 300px;

      &:focus {
        outline: none;
      }
    }

    &-country {
      position: absolute;
      left: 20px;
      top: 50px;
    }

    &-clicks {
      position: absolute;
      left: 20px;
      bottom: 130px;
      font-size: 25px;

      .fa {
        padding-right: 10px;
      }
    }

    &-name {
      position: absolute;
      left: 20px;
      bottom: 90px;
      font-size: 25px;
    }
  }
}
