.frontpage {
  &-fact {
    margin-bottom: 100px;
    margin-top: 100px;

    h2 {
      font-size: 30px;
      font-weight: 400;
      color: $brand-primary;
      text-transform: uppercase;
    }
  }

  &-wrapper {

  }

  &-yourlinks {
    background-color: $brand-primary;
    padding-bottom: 80px;

    h2 {
      font-size: 30px;
      font-weight: 400;
      color: $color-white;
      margin-top: 100px;
      margin-bottom: 50px;
    }
  }
}

.profit-panel {
  background: transparentize($color-white, 0.8);
  border-radius: 25px;
  border: 0;

  p {
    padding-left: 100px;
    padding-right: 20px;
    color: $color-white;
  }

  .profit-entry {
    margin-bottom: 25px;
    margin-top: 25px;
  }

  .fa {
    font-size: 50px;
    color: #fff;
    display: block;
    float: left;
    width: 100px;
    text-align: center;
  }

   h2 {
     font-size: 30px;
     font-weight: 400;
     color: #fff;
     margin: 0;
     display: block;
     line-height: 1em;
   }

  .panel-heading {
    color: $brand-primary;
    font-size: 20px;
    padding: 30px;
    text-transform: uppercase;
    line-height: 25px;
    padding-left: 100px;
    border-radius: 25px;

    &::after {
      content: "\f046";
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
      color: $brand-primary;
      font-size: 50px;
      position: absolute;
      left: 46px;
      top: 46px;
    }
  }
}