.show-link {
  &-wrapper {
    padding-top: 70px;
  }

  &-cover {
    padding: 20px;
    color: $color-white;
    height: 300px;
    background: $brand-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: $screen-xs-max) {
      height: 150px;
      padding-top: 0;
      padding-bottom: 40px;
    }
  }
}

.action {
  &-panel {
    border: 1px solid lighten($brand-primary, 40%);
    border-radius: 15px;
    margin-top: -33px;
    @media (max-width: $screen-xs-max) {
      text-align: center;
    }

    .panel-heading {
      border: 1px solid $brand-primary;
      border-radius: 15px;
      padding: 15px;

      .fa {
        color: $color-black;
        font-size: 30px;
        padding-right: 10px;
      }

      span {
        top: -5px;
        display: inline-block;
        position: relative;
      }
    }
  }

  &-item {
    padding: 0 15px;
    height: 45px;
    color: $color-white;
    border-radius: 20px;
    margin-bottom: 15px;
    font-size: 17px;
    font-weight: 400;
    text-align: left;
    display: flex;
    align-items: center;

    &:hover {
      color: $color-white;
      opacity: 0.99;
      text-decoration: none;
    }

    &:focus {
      color: $color-white;
      text-decoration: none;
    }

    .fa {
      padding-right: 30px;
      padding-left: 10px;
      font-size: 24px;
    }

    &-inner {
      width: 100%;
    }

    &-title {
      display: inline-block;
    }

    &-status {
      float: right;
      display: inline-block;
      width: 50px;
      background: $color-black;
      border-radius: 10px;
      text-align: center;
      padding: 1px;
      margin-left: 15px;

      .fa {
        font-size: 17px;
        padding: 0;
        padding-right: 0;
        padding-left: 0;
        margin: 0;
      }

      &.checked {
        background: $brand-success;

        .fa-plus {
          display: none;
        }
        .fa-spinner {
          display: none;
        }
        .fa-check {
          display: inline;
        }
      }

      &.loading {
        .fa-plus {
          display: none;
        }
        .fa-spinner {
          display: inline-block;
        }
        .fa-check {
          display: none;
        }
      }

      &.unchecked {
        .fa-plus {
          display: inline;
        }
        .fa-check {
          display: none;
        }
        .fa-spinner {
          display: none;
        }
      }
    }

    &-action {
      float: right;
      display: inline-block;
      @media (max-width: $screen-xs-max) {
        display: none;
      }
    }
  }

  &-youtube {
    background: #e30613;
  }

  &-website {
    background: $brand-primary;
  }

  &-instagram {
    background: #262626;
  }

  &-twitter {
    background: #00ccff;
  }

  &-facebook {
    background: #312783;
  }
}
