.linkcreate {
  &-wrapper {
    margin-top: 70px;
  }

  &-btn {
    color: $color-white;
    border-radius: 12px;
    border: 0;
    padding: 7px 25px;

    &:hover {
      color: $color-white;
    }

    .fa {
      padding-right: 5px;
    }
  }

  &-facebook {
    background: #312783;

    &:focus {
      background: #312783;
    }

    &:hover {
      background: #312783;
    }
  }

  &-instagram {
    background: #262626;

    &:focus {
      background: #262626;
    }

    &:hover {
      background: #262626;
    }
  }

  &-website {
    background: $brand-primary;

    &:focus {
      background: $brand-primary;
    }

    &:hover {
      background: $brand-primary;
    }
  }

  &-youtube {
    background: #e30613;

    &:focus {
      background: #e30613;
    }

    &:hover {
      background: #e30613;
    }
  }

  &-twitter {
    background: #00ccff;

    &:focus {
      background: #00ccff;
    }

    &:hover {
      background: #00ccff;
    }
  }

  &-twitch {
    background: #49155c;

    &:focus {
      background: #49155c;
    }

    &:hover {
      background: #49155c;
    }
  }

  &-row {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &-input {
    background: #def2f1;
    width: 100%;
    display: block;
    border: 0;
    border-radius: 6px;
    padding: 10px 15px;

    &:focus {
      outline: 0;
    }
  }

  &-title {
    line-height: 20px;
    font-size: 20px;
    font-weight: 400;
    color: $brand-primary;
    display: block;
    margin-top: 6px;
  }

  &-desc {
    line-height: 13px;
    font-size: 13px;
    font-weight: 400;
    color: $brand-primary;
  }

  &-stepnumber {
    background: $brand-primary;
    font-size: 20px;
    font-weight: 400;
    padding: 9px;
    color: $color-white;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    display: inline-block;
    text-align: center;
  }

  &-header {
    padding: 40px;
    text-align: center;
    color: $color-white;
    background: $brand-primary;
    margin-bottom: 40px;

    h1 {
      margin: 0;
      font-size: 25px;
      font-weight: 400;
    }
  }
}