.login {
  &-wrapper {
    height: 100vh;
    background: $brand-secondary;
    padding-top: 40px;
    display: flex;
    align-items: center;

    hr {
      margin-top: 40px;
      margin-bottom: 60px;
      border-color: $brand-primary;
    }

    h2 {
      font-size: 30px;
      line-height: 40px;
      padding-bottom: 20px;
      border-bottom: 1px solid $brand-primary;
      font-weight: 400;
      font-family: $font-family-sans-serif;
      color: $color-white;
    }

    .hr-small {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  &-logo {
    margin-bottom: 20px;
  }

  &-btn {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: $font-family-sans-serif;
  }

  &-form {
    label {
      color: $color-white;
      padding-top: 10px;
      font-weight: 300;
      font-family: $font-family-sans-serif;
    }
  }
}