.btn {
  &-primary {
    background: $brand-primary;
    border-radius: 30px;
  }

  &-link {
    &:hover {
      text-decoration: none;
    }
  }

  &-nav {
    padding: 3px 15px;
    margin-top: -4px;

    .fa {
      font-size: 20px;
      padding: 0 5px;
      padding-top: 2px;
    }
  }
}