.charts-chart > div > div > div > svg > g:nth-child(2) > rect:nth-child(1) {
  fill: $brand-primary;
}

.charts-chart > div > div > div > svg > g:nth-child(2) > rect:nth-child(2) {
  display: none;
}

.charts-chart {
  text {
    fill: $color-white;
  }
}

.charts-chart > div div > div:nth-child(1) > div > svg > rect {
  fill: $brand-primary;
}