.cover {
  &-full {
    background: $brand-secondary;
    height: 100vh;
    position: relative;
    font-family: $font-family-sans-serif;
  }

  &-alert {
    margin-top: 15px;
    background: $brand-primary;
    color: $color-white;
    padding: 20px;
    font-size: 16px;
    line-height: 1em;
    border-radius: 20px;
  }

  &-arrow {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    text-align: center;
    z-index: 3;
    color: $color-white;
    font-size: 40px;
  }

  &-rocket {
    background-image: url('/image/svg/background-cover.svg');
    background-size: contain;
    height: calc(100vh - 140px);
    background-repeat: no-repeat;
    background-position: bottom right;
    position: absolute;
    left: 0;
    right: calc(50% - 600px);
    bottom: 0;
    z-index: 2;
    @media (max-width: $screen-xs-max) {
      right: 0;
      top: 100px;
      bottom: initial;
      background-size: contain;
    }
  }

  &-inner {
    padding-top: 250px;
    color: $color-white;
    font-weight: 400;
    position: relative;
    z-index: 3;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: $screen-xs-max) {
      margin-top: 0;
      padding-top: 100px;
      padding-left: 20px;
      padding-right: 20px;
    }

    &-facts {
      &-icon {
        padding-top: 10px;

        img {
          width: 40px;
        }
      }

      &-title {
        font-size: 35px;
      }

      &-desc {
        padding-top: 22px;
        font-weight: 300;
        font-size: 17px;
        font-style: italic;
      }
    }
  }

  &-shortlink {
    &-wrapper {
      margin-top: 50px;
      position: relative;
    }

    &-btn {
      position: absolute;
      top: 5px;
      right: 5px;
      padding: 9px 21px;
    }

    &-input {
      padding: 15px 20px;
      border-radius: 26px;
      width: 100%;
      border: 0;
      color: $brand-secondary;

      &:focus {
        outline: 0;
      }
    }
  }

  &-footer {
    background: $brand-primary;
    height: 200px;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;

    &-cover {
      &-left {

      }

      &-right {

      }
    }
  }
}