.navbar {
  &-croclink {
    background: $brand-secondary;
    height: 75px;
    padding-top: 14px;
  }

  &-nav {
    @media (max-width: $screen-xs-max) {
      background: $brand-secondary;
      text-align: center;
    }
  }

  &-brand {
    width: 150px;
  }
}

.current-dev {
  position: fixed;
  left: -50px;
  top: 50px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background: $brand-primary;
  padding: 6px 40px;
  color: $color-white;
  width: 241px;
  text-align: center;
}

.nav > li > a:hover,
.nav > li > a:focus {
  background: transparent;
  border-color: transparent;
  color: $color-white;
}

.navbar-toggle .icon-bar {
  background: $brand-primary;
}

@media (max-width: $screen-xs-max) {
  .navbar-header {
    padding-left: 20px;
  }

  .current-dev {
    display: none;
  }
}